<div>
    <div class="card-header">
        <h2>Recent Posts</h2>
    </div>
    
    {{#each readablePost}}
    <div class="post-card">
        
        <p>
            Title: {{title}}
        </p>
        <p>
            Content: {{content}}
        </p>
        <br>
    </div>
    {{/each}}

<button type="submit" class="btn"><a class="link" href="./newPost">+ New Post</a></button>

</div>

<script src="/js/newPost.js"></script>