<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username" />
    </div>
    <div>
      <label for="password-login" class="form-label">Password</label>
      <input type="password" id="password" />
    </div>
    <button type="button" id="login" class="btn">Login</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>